@page  {
    size: A4;
    margin: 0;
}

@media print {
    body{
        width: 210mm;
        height: 297mm;
        #Header, #Footer { display: none !important; }
    }
}
@media screen {
    body{
        width: 210mm;
        height: 297mm;
    }
}
body{
    font-family: Charter;
}

p{
    font-family: Ubuntu;
    font-size: 12pt;
    /*border: 2px #D3D3D3 solid;*/
}
.sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 20mm auto;
  border: 2px #D3D3D3 solid;
  background: white;
}


.Main_Title{
    margin-top: 30px;
    text-align: center;
}

.logo{
    width: 50%;
}

.logo_bg{
    border-bottom: red solid 5px;
    height: 120px;
    text-align: center;

}

.full_img{
    margin-left: 5px;
    margin-top: 25px;
    width: 205mm;
    height: 200mm;
    box-shadow: 3px 3px 3px darkslategray;

}
.image_30{
    max-width: 200px;
    height: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    text-align: center;
    flex: 30%;
    max-width: 35%;
    padding: 0px 2px;
    /*border: 2px #D3D3D3 solid;*/
}